@charset"UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*
html{
    font-size: 62.5%;
}*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}
/*h1{
    font-size: 4.4rem;
}*/

header #navbar{
    background-color: #fefefe;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 56px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: #e0e0e0 1px solid;
}

header #navbar .nav-links{
    display: flex;
    list-style: none;
    text-decoration: none;

    gap : 2rem;
}

header #hero-section .hero-h1{
    color: #21243D;
    font-size: 44px;
}

header #hero-section .hero-p{
    color: #555;
    font-size: 18px;
    margin: 1.5rem 0;
    max-width: 600px;
}















